body {
    padding: 0;
    margin: 0;
    background-color: white ;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;
    height: 90vh;
}

.title {
    font-size: 60px;
    margin: 0;
    background-color: #007BFF;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}

.text {
    margin: 0 0 15px;
    padding: 0;
    font-size: 20px;
}

form {
    display: flex;
    justify-content: center;
    width: 500px;
}

input {
    border: none;
    padding: 10px;
    font-size: 15px;
}

.inputLink {
    width: 100%;
    border-top: 1px solid rgb(104, 104, 104);
    border-right: none;
    border-bottom: 1px solid rgb(104, 104, 104);
    border-left: 1px solid rgb(104, 104, 104);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.inputBtn {
    border-top: 1px solid rgb(104, 104, 104);
    border-right: 1px solid rgb(104, 104, 104);
    border-bottom: 1px solid rgb(104, 104, 104);

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border-left: none;
    background-color: #007BFF;
    cursor: pointer;
    color: white;
}

.erro {
    color: red;
    font-size: 20px;
    margin: 0;

}

.cardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 350px;
}

.resultado {
    width: 60%;
    font-size: 17px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.resBtn {
    width: 17%;
    cursor: pointer;
    background-color: #6c757d;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.resLink {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin: 0;
}

footer {
    text-align: center;
}

.meuLink {
    color: black;
    font-size: 20px;
}

@media (max-width: 510px) {
    main {
        max-width: 100%;
    }

    form {
        width: 90%;
    }

    .cardLink {
        width: 90%;
    }
}